@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Bellefair&display=swap');
body{
    height: 100%;
    width: 100%;
    background-image: url("assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.navbar img{
    width:42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 35px;
    
}
.navbar hr{
    width: 500px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: black;
    border-color: black;
    
}
.exnav{
    position: relative;
    display:flex;
    align-items:center;
    height: 75px;
    backdrop-filter: blur(50px);
    width: 900px;
    gap: 38px;
    
}
.exnav hr {
    width: 25px;
    align-self:center;
    justify-self:start;
    margin-right: 80px;
    background-color:black;
    border-color: black;
    
}
.exnav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: "Barlow Condensed";
    font-weight: 300;
    font-size: smaller;
    padding-bottom: 27px;
    padding-top: 28px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.exnav span{
    font-weight: bold;
}
.exnav a.active,.exnav a:hover {
    cursor:pointer;
    border-bottom: 3px solid white;
}
.title{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;    
    margin-left: 260px;

}
.title h2{
    color: white;
    font-family: "Barlow Condensed";
    font-weight: 300;
    word-spacing: 10px;
    font-size: 20px;
    letter-spacing: 4px;
}
.title span{
    font-weight:bold;
    font-family: "Barlow Condensed";
    color:#4F5158;
}
.corps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-right: 230px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 img{
    width: 480px;
    margin-top: 50px;
}
.img2{
    height: 530px;
    
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 450px;
    margin-right: 120px;
    margin-top: 40px;
    height: 350px;
}
.container1 h3 {
    width: 450px;
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 25px;
    margin: 10px 0px;
    color: #8F9095;

}
.container1 h2{
    width: 450px;
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 45px;
    margin: 10px 0px;
    
}
.container1 p{
    font-family: "Barlow Condensed";
    font-weight: 200;
    font-size: 19px;
    word-spacing: 1px;
    line-height: 25px;
    margin-right: 15px; 
    margin-top: 7px;
    letter-spacing: 1px;
}
.scroller{
    display: flex;
    justify-content:start;
    align-items:center;
    height: 15px;
    width: 450px;
    margin-top: 90px;
}
.scroller span{
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color:#363841;
    margin: 8px;
}
.scroller span.active,.scroller span:hover{
    cursor: pointer;
    background-color: aliceblue;
}